@import "~bootstrap/dist/css/bootstrap.css";

html,
body,
#root,
table,
.container-fluid {
  height: 100%;
  padding: 0;
  font-size: 115%;
}

table {
  text-align: center;
}

thead {
  background-color: #fbffb8;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

.table th,
.table td {
  vertical-align: middle;
}
